.home-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: thin;
  color: white;
  font-size: 6vh;
  text-align: center;
  line-height: 120%;
}

@media (max-width: 600px) {
  .home-page {
    height: auto;
    min-height: 100vh;
    padding: 10px 0;
  }
  .home-page > h1 {
    font-size: 2rem;
    padding: 0 10px;
  }
}